button{
	border: none;
	background: none;
}
.recruitTitContainer {
    width: 100%;   
    position: relative;
}

.recruitTitBox {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 20px;
    position: relative;
   
    
}

.recontainer {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
}

.box_top {
    display: flex;
    align-items: center;
   padding: 24px 0;
   flex: 2;
}


.recruitTit {
    font-size: 28px;
    letter-spacing: -5px;
    display:flex;
    margin-right: 20px;
}

.btn_filter {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.fiex_layout {
    display: flex;
    align-items: center;
}

.filter_text {
    line-height: 22px;
    font-weight: bold;
    color: #007bff;
    font-size: 16px;
}



.arrow {
   width: 20px;
    height: 20px;
    background-image: url(/img/arrownone.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    margin-left: 12px;
}

.filter-box {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.department-box,
.district-box,
.carreer-box {
    width: 466px;
    padding: 10px;
}

.filter-box ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 32px 24px 32px 32px;
}

.filter-box ul li {
    width: 94px;
}

.filter-box ul li button {
    padding: 13px 0;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    color: #6a6a6a;
    background: #f8f8f8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    vertical-align: middle;
}

.filter-box ul li button.active,
.filter-box ul li button:hover {
    background: #007bff;
    color: #fff;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-box button {
   display: flex;
   align-items: center;
   justify-content:center;
   width: 100%;
   padding: 24px 0;
   border-bottom: 1px solid #e8e8e8;
   cursor: pointer;

}

.search-reset {
    background-color: #f1f1f1;
}

.search-button {
	border: none;
    height: 48px;
    background: url(/img/icon_search.png) no-repeat 50%;
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    width: 28px;
}

.box_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px 0;
    flex: 8;
}

.btn_boxes {
    display: flex;
    align-items: center;
    gap: 25px;
}


.btn_box {
  
}

.btn_filter_box span {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
}
.btn_filter_box span.filter_text {
    font-weight: 700;
    color: #003ecb;
    margin-left: 12px;
    display: none;
}

.btn_filter_box {
     padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
}

.btn_reset {
    display: flex;
    align-items: center;
}

.btn_reset i {
    display: block;
    width: 20px;
    height: 20px;
    background: url(/img/reset-icon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 4px;
}
 .btn_box .btn_reset span {
    font-size: 16px;
    letter-spacing: 0;
    color: #9e9e9e;
    line-height: 22px;
}
.search-box {
    width: 300px;
    height: 48px;
    border: 1px solid #d2d2d2;
    position: relative;
    border-radius: 8px;
}

.search-box input {
	border: none;
    display: block;
    padding: 0 58px 0 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: #333;
    margin-left: 0;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 0;
}



.tag_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    margin-top: -1px
}

.tag_box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag_box ul li {
    
}

.tag_box ul li button {
    padding: 7px 11px 8px;
    display: block;
    border: 1px solid #d2d2d2;
    border-radius: 99px;
}

.tag_box ul li button:hover {
    background: #007bff;
    color: #fff;
}
.recruitTitBox.tag_box ul li button span {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    color: #444;
}
#main {
    width: 100%;
    height: auto;

  }
.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .tab {
    cursor: pointer;
    width: calc(100% / 5);
    height: 50px;
    line-height: 42px;
    text-align: center;
    font-weight: 700;
    color: #101219;
    font-size: 20px;
    border-bottom: 2px solid #E6E9ED;
    box-sizing: border-box;

  }

  .tab.active {
    border-bottom: 3px solid #ff7f00;
  }

  .container {
    display: none;
    flex-wrap: wrap;
    /* justify-content: space-between;*/
    padding: 10px;
  }

  .container.active {
    display: flex;
  }

  .inner {
    max-width: 1240px;
    margin: 0 auto;
    min-height: 300px;
  }

  .product {
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    margin: 10px;
    width: calc(25% - 20px);
    /* 4 items per row with margin */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;

    border: 1px solid #E6E9ED;
    box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
    border-radius: 20px;

  }

  .product .ranking_list {

    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 50;

  }

  .product .ranking_list .ranking {
    width: 40px;
    height: 40px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    color: #9BA1AA;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .product img {
    height: 44%;
    width: auto;
    object-fit: contain;

  }





  .product .product_util {
    width: 100%;


  }

  .product .product_util div {
    margin-bottom: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding-left: 4px;
  }

  .product .txt1 {
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: #9BA1AA;
    text-align: left;

    margin: 30px 0px 0px 0px;
  }

  .product .txt2 {
    margin-top: -7px;
  }
  .product .txt2 {
    font-weight: 700;
    color: #101219;
    display: block !important;
    font-size: 18px;
    text-align: left;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .product .product_util div p {
    color: #3b65ff;
    background-color: #f0f5ff;
    height: 30px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 30px;
    width: auto;
    padding: 0 12px;
    border-radius: 99px
  }

  .product .review .star-point {
    float: left;
    font-weight: 700;
    font-size: 17px;
    color: #535968;
    text-align: left;
    line-height: 20px;
    background: url(/img/star-icon.webp) left 2px no-repeat;
    background-size: 16px 15px;
    padding-left: 20px;
    height: 20px;
  }

  .product .review .txt3 {
    float: left;
    font-weight: 500;
    line-height: 19px;
    height: 20px;
    color: #9BA1AA;
    font-size: 16px;
    margin: 0px 0px 0px 10px;
  }

  .product .product_util .type_list {
    margin: 0;
    margin-top: 10px;
    padding: 0;

  }

  @media (max-width: 1200px) {
    .product {
      width: calc(33.33% - 20px);
      /* 3 items per row */
    }
  }

  @media (max-width: 800px) {
    .product {
      width: calc(50% - 20px);
      /* 2 items per row */
    }
  }

  @media (max-width: 500px) {
    .product {
      width: 100%;
      /* 1 item per row */
      max-width: 340px;
      /* max width 340px */
    }
  }
  
  
  /* 여기서 부터 시작 */
  #tab_wrap{
  padding-top: 230px;
  }
  .wishlist{
  	 background-image: url(/img/heart.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    width: 20px;
    height: 20px;
    color: red;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    
  }
  .wishlist.on{
   background-image: url(/img/heart-fill.png);
  }
 .product .cart-button {
    display: none; /* Hidden by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100; /* Ensure it appears above other content */
}
.product .cart-button:hover{
	filter: brightness(0.8);
}

.product:hover .cart-button {
    display: block; /* Show the button on hover */
}