<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vita.admin.mapper.AdminMapper">
	<select id="LadminLogin">
    SELECT
        ADMIN_ID,
        NAME,
        ID,
        PASSWORD
    FROM ADMIN
    WHERE
        ID = #{arg0}
        AND
        PASSWORD = #{arg1}
	</select>
	
	<select id="LgetadminList">
	SELECT
		ADMIN_ID,
		NAME,
		ID,
		PASSWORD
    FROM ADMIN
	</select>
	
<select id="LgetproductList">
    SELECT
        P.PRO_ID,
        P.NAME,
        M.NAME AS MAKE_NAME,
        P.NAME AS ING_NAME,
        P.URL,
        F.TYPE AS TYPE,
        P.EXPLAIN,
        P.CAUTION,
        P.PRICE,
        S.COUNT
    FROM PRODUCT P
    JOIN STOCK S ON P.PRO_ID = S.PRO_ID
    JOIN MAKE M ON P.MAKE_ID = M.MAKE_ID
    JOIN INGREDIENT I ON P.ING_ID = I.ING_ID
    JOIN FORM F ON P.FORM_ID = F.FORM_ID
</select>



	<select id="LgetadminId" resultType="Integer">
		SELECT MAX(ADMIN_ID) + 1 AS ADMIN_ID
		FROM ADMIN
	</select>
	
		
	<insert id="LinsertAdmin">
	    INSERT INTO ADMIN (
	        ADMIN_ID,
	        NAME,
	        ID,
	        PASSWORD
	    )
	    VALUES (
	        #{admin_id},
	        #{name},
	        #{id},
	        #{password}
	    )
	</insert>

	<select id="LgetadminListmodal">
    SELECT
        ADMIN_ID,
        NAME,
        ID,
        PASSWORD
    FROM ADMIN
    WHERE ADMIN_ID = #{admin_id}
	</select>
	
	<select id="LgetProId">
		SELECT MAX(PRO_ID) + 1 AS PRO_ID
		FROM PRODUCT
	</select>
	
<insert id="insertProduct">
    INSERT INTO PRODUCT (
        PRO_ID,
        NAME,
        MAKE_ID,
        ING_ID,
        URL,
        FORM_ID,
        EXPLAIN,
        CAUTION,
        PRICE
    ) VALUES (
        #{pro_id},
        #{name},
        #{make_id},
        #{ing_id},
        #{url},
        #{form_id},
        #{explain},
        #{caution},
        #{price}
    )
</insert>

<insert id="insertStock">
    INSERT INTO STOCK (
        STOCK_ID,
        PRO_ID,
        ADMIN_ID,
        COUNT,
        STATE
    ) 
    VALUES (
        (SELECT COALESCE(MAX(STOCK_ID), 0) + 1 FROM STOCK),
        #{pro_id},
        #{admin_id},
        #{count},
        #{state}
    )
</insert>

<insert id="insertImgs">
    INSERT INTO IMGS (
        IMG_ID,
        PRO_ID,
        IMG
    ) VALUES (
        (SELECT COALESCE(MAX(IMG_ID), 0) + 1 FROM IMGS),
        #{pro_id},
        #{img}
    )
</insert>



	<select id="LgetUserList">
		SELECT
		    ID,
		    COALESCE(EMAIL, OAUTH_EMAIL) AS EMAIL,
		    NAME,
		    PASSWORD,
		    SEX,
		    BIRTH
		FROM USERS
	</select>
	
	<delete id="deleteById">
	DELETE  
    FROM USERS
    WHERE ID = #{id}
	</delete>
	
	<select id="getProductById">
	SELECT 
		P.PRO_ID,
		P.NAME,
		M.MAKE_ID,
        IMG.IMG_ID,
		I.ING_ID,
		P.URL,
		F.FORM_ID,
		P.EXPLAIN,
		P.CAUTION,
		P.PRICE,
		S.STOCK_ID
	FROM PRODUCT P
	JOIN STOCK S ON P.PRO_ID = S.PRO_ID
    JOIN MAKE M ON P.MAKE_ID = M.MAKE_ID
    JOIN INGREDIENT I ON P.ING_ID = I.ING_ID
    JOIN FORM F ON P.FORM_ID = F.FORM_ID
    JOIN IMGS IMG ON P.PRO_ID = IMG.PRO_ID
	WHERE P.PRO_ID = #{pro_id}
	</select>
	
	<update id="updateAdminDetails">
	 UPDATE ADMIN
	 SET NAME = #{arg1},
	     ID = #{arg2},
	     PASSWORD = #{arg3}
	 WHERE ADMIN_ID = #{arg0}
	</update>
	
	
	<delete id="deleteAdmin">
	DELETE  
    FROM ADMIN
    WHERE ADMIN_ID = #{admin_id}
	</delete>
	
	<select id="getAllUsers">
	 SELECT
     	COUNT(id)
     FROM USERS
	</select>
	<select id="LgetMakeList">
	SELECT
		MAKE_ID,
		NAME,
		TEL,
		ZIPCODE,
		ADDRESS,
		ADDRESSDETAIL
	FROM MAKE
	</select>
	<insert id="LinsertMake">
	 INSERT INTO MAKE (
		MAKE_ID,
		NAME,
		TEL,
		ZIPCODE,
		ADDRESS,
		ADDRESSDETAIL
    ) VALUES (
        (SELECT COALESCE(MAX(MAKE_ID), 0) + 1 FROM MAKE),
        #{name},
        #{tel},
        #{zipcode},
        #{address},
        #{addressdetail}
    )
	</insert>
	<select id="LgetingList">
	SELECT
		ING_ID,
		NAME
	FROM INGREDIENT
	</select>
		<insert id="LinsertIng">
	 INSERT INTO INGREDIENT (
		ING_ID,
		NAME

    ) VALUES (
        (SELECT COALESCE(MAX(ING_ID), 0) + 1 FROM INGREDIENT),
        #{name}
    )
	</insert>
	
	<select id="LgetFormList">
	SELECT
		FORM_ID,
		TYPE
	FROM FORM
	</select>
	
	<insert id="LinsertForm">
	INSERT INTO FORM (
		FORM_ID,
		TYPE
		)
	VALUES (
        (SELECT COALESCE(MAX(FORM_ID), 0) + 1 FROM FORM),
        #{type}
    )
	</insert>
	<select id="LgetNutrientList">
	SELECT
        N.NUT_ID,
        P.NAME AS PRO_NAME,
        I.NAME AS ING_NAME,
        CAPACITY
    FROM NUTRIENT N 
    JOIN PRODUCT P ON N.PRO_ID = P.PRO_ID
    JOIN INGREDIENT I ON N.ING_ID = I.ING_ID
	
	</select>
	<insert id="LinsertNut">
	INSERT INTO NUTRIENT (
		NUT_ID, 
		PRO_ID, 
		ING_ID, 
		CAPACITY
		)
	VALUES (
        (SELECT COALESCE(MAX(NUT_ID), 0) + 1 FROM NUTRIENT),
        #{pro_id},
        #{ing_id},
        #{capacity}
    )
	</insert>
	<select id="LgetMakeListmodal">
   SELECT
        MAKE_ID,
        NAME,
        TEL,
        ZIPCODE,
        ADDRESS,
        ADDRESSDETAIL
    FROM MAKE
    WHERE MAKE_ID = #{make_id}
	</select>
	
		<update id="updateMakeDetails">
	 UPDATE MAKE
	 SET NAME = #{arg1},
	     TEL = #{arg2},
	     ZIPCODE = #{arg3},
	     ADDRESS = #{arg4},
	     ADDRESSDETAIL = #{arg5}
	 WHERE MAKE_ID = #{arg0}
	</update>
	
	
	<delete id="deleteMake">
	DELETE  
    FROM MAKE
    WHERE MAKE_ID = #{make_id}
	</delete>
	
	<select id="LgetIngListmodal">
	SELECT	
		ING_ID,
		NAME
	FROM INGREDIENT
	WHERE ING_ID = #{ing_id}
	</select>
	
	<update id="updateIngDetails">
	UPDATE INGREDIENT
	 SET NAME = #{arg1},
	 WHERE MAKE_ID = #{arg0}
	</update>
	
	<select id="LgetProdModalMakeList">
	SELECT 
		MAKE_ID,
		NAME,
		TEL
	FROM MAKE
	</select>
	
	
</mapper>