<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vita.user.mapper.UsersMapper">  
  
	<select id="getGoodsList">
		SELECT	GOODS_ID,
				ID,
				PRO_ID,
				PAY_ID,
				COUNT,
				PRICE,
				STATE
		FROM	GOODS
		WHERE	ID = #{id}
	</select>
	
	<select id="getPay">
		SELECT	PAY_ID,
				ID,
				IDENTITY,
				SUM,
				WAY,
				REQ,
				ADDRESS_ID,
				CREATED
		FROM	PAY
		WHERE	ID = #{id}
	</select>
   
	<select id="getIdentity">
		SELECT	PAY_ID,
				ID,
				IDENTITY,
				SUM,
				WAY,
				REQ,
				ADDRESS_ID,
				CREATED
		FROM	PAY
		WHERE	PAY_ID = #{pay_id}
	</select>
	
</mapper>

















